<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud Python</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <h1>Crud Python</h1>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <a href="/form" class="btn btn-primary">Adicionar</a>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
            <th scope="col">Ano</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for dados in dado %}
          <tr>
            <td>{{dados.id}}</td>
            <td>{{dados.modelo}}</td>
            <td>{{dados.marca}}</td>
            <td>{{dados.ano}}</td>
            <td>
              <a href="view/{{dados.id}}/" class="btn btn-secondary">View</a>
              <a href="edit/{{dados.id}}/" class="btn btn-secondary">Edit</a>
              <a href="" class="btn btn-secondary">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
